body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0px;
    display: flex;
    flex-flow: column nowrap;
  }

nav {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
}

nav ul li {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 0;
    max-width: 1080px;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    margin: auto;
    padding: 0.5em 2em;
    list-style: none;
}